.logo {
    max-width: 12%;
    position: fixed;
}
  
.nav {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}
.nav__menu {
    display: flex;
    justify-content: space-around;
}
  
.nav__link {
    color: #501c65;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    font-size: 35px;
}
  
.nav__link:hover {
    color: #c7a194;
}
  
.footer__contact {
    display: flex;
    justify-content: end;
}
  
.footer__contact__info {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #0c040f;
    margin: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:#0c040f;
    background-color: #F5EFFF;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.about_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}

.about_heading {
    font-family: 'Ms Madi', cursive;
    color: #501c65;
    text-align: center;
    font-size: 45px;
    margin: 5px;
    padding: 5px;
}

.about_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    padding: 1rem;
    text-align: justify;
    width: 15rem;
    margin: auto;
    line-height: 25px;
    list-style: none;
}

.about_list li:nth-child(odd) {
    grid-column: 1 / 2;
    font-style:italic;
}

.about_info {
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: justify;
    line-height: 25px;
}

.about_map {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}