/*font-family: 'Ms Madi', cursive;
font-family: 'Raleway', sans-serif;

Colours from logo:CSS
--magnolia: #F6EFFFff;
--rose-taupe: #855F52ff;
--desert-sand: #EFD4BCff;
--rosy-brown: #C7A194ff;

*/

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@100;400;600&display=swap');